.container {
  padding: 2rem;
  margin-top: 7rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  overflow: hidden;

  &>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .letsTalk {
    margin-bottom: -1rem;
    font-size: 4rem;
    color: var(--woodBrown);
  }

  .letsText {
    font-family: 'greatvibes';
    color: var(--woodBrown);
    padding: 0;
    font-size: 4.5rem;
    white-space: nowrap;
  }

  .togetherContainer {
    padding: 0;
    margin-top: -1.5rem;
  }

  .togetherText {
    font-weight: 700;
    font-size: 4.5rem;
    font-family: 'greatvibes';
    padding: 0;
    white-space: nowrap;
  }

  .decor {
    width: 60%;
    height: 3px;
    background: linear-gradient(90deg, transparent 0%, var(--woodBrown) 100%);
    margin: 2rem 0;
    margin-top: 3rem;
  }

  .iconsContainer {
    a {
      transition: 0.2s all;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;

    .letsText {
      padding: 0;
      font-size: 3rem;
      white-space: nowrap;
    }

    .togetherContainer {
      padding: 0;
      margin-top: -0.5rem;
    }

    .togetherText {
      font-size: 3rem;
      padding: 0;
    }

    .letsTalk {
      font-size: 2rem;
    }

  }
}

@media (max-width: 558px) {
  .container {
    margin-left: 0;
    padding: 0.5rem;
    margin-top: 2rem;

    &>div {
      justify-content: center;
      margin-left: 0.25rem;
      height: 15rem;
    }


    .decor {
      display: none;
    }

    .iconsContainer {
      a {
        transition: 0.2s all;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}